.prod-item-container
{
    display: flex;
    padding: 3px;
    border: 3px solid red ;
    border-radius: 20px;
    width: 30%;
    margin: 4px 0 ;
    position: relative;
    justify-content: center;
    align-items: center;
   margin: auto;
   top: 80px;
   margin-top: 4px;
} 